// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.asking{
  justify-content:center;
  text-align: center;
  margin-top: 25vh;
  background-color: #EF7B7B;
  padding: 30px;
}

.container{
  height: 100vh;
  background-color:#FEFFDF;
}

.body{
  background-color: #E6E6FA;
}
